<div class="container-fluid fill">
    <div class="row">
        <div class="col-md-4 well well-lg fixed-panel">
            <ul class="list-unstyled">
                <li *ngFor="let hotItemScreenSet of hotListItemsArray">
                    <br>
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            {{hotItemScreenSet[0]?.groupedScreen}} | {{hotItemScreenSet?.length}}
                        </div>
                    </div>

                    <div class="row">
                        <div [ngClass]="{'btn-default': !hotItem.selected || hotItem.selected == false, 'btn-info': hotItem.selected && hotItem !== selectedItem, 'btn-primary': hotItem === selectedItem}"
                            class="col-md-2 btn" *ngFor="let hotItem of hotItemScreenSet" (click)="onSelect(hotItem)">
                            {{hotItem?.key.symbol}}
                        </div>
                    </div>
                </li>
            </ul>
        </div>
        <div class="col-md-8">
            <div class="row">
                <div class="col-md-4">
                    <input type="date" max="{{maxDate}}" [(ngModel)]="loadDate" (keyup.enter)="loadHistorical()" />
                    <button class="btn" (click)="loadHistorical()">Load list for date</button>
                </div>
                <div class="col-md-6">
                    <input type="text" maxlength="10" [(ngModel)]="newSymbol" (keyup.enter)="addSymbol()" placeholder="symbol" />
                    <button class="btn" (click)="addSymbol()">Add</button>
                </div>
                <div class="col-md-2" *ngIf="selectedItem">
                    <button class="btn btn-warning text text-right" (click)="deleteSelectedItem()">Ignore {{selectedItem.key.symbol}}</button>
                </div>
            </div>
            <hot-list-item [target]="selectedItem"></hot-list-item>
            <stock-chart *ngIf='selectedItem' [target]="selectedItem"></stock-chart>
            <security-comment-symbol [target]="selectedItem?.key?.symbol"></security-comment-symbol>
        </div>
    </div>
</div>