<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">OV</a>
    </div>
    <ul class="nav navbar-nav">
      <li><a *ngIf="authService.isLoggedIn == true" routerLinkActive="active" routerLink="/hotlist">Hot List</a></li>
      <li><a *ngIf="authService.isLoggedIn == true" routerLinkActive="active" routerLink="/blacklist">Black List</a></li>
      <li><a *ngIf="authService.isLoggedIn == true" routerLinkActive="active" routerLink="/modelscreens">Models</a></li>
      <li><a *ngIf="authService.isLoggedIn == true" routerLinkActive="active" routerLink="/notes">Notes</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li><a *ngIf="authService.isLoggedIn == false" routerLinkActive="active" routerLink="/login">Log in</a></li>
      <li><a *ngIf="authService.isLoggedIn == true" href="/auth/logout">Log out</a></li>
    </ul>
  </div>
</nav>
<div class="container-fluid fill">
  <client-alert></client-alert>
  <main>
    <router-outlet></router-outlet>
  </main>
</div>
<footer>
</footer>