.fill { 
    min-height: 100%;
    height: 100%;
}

html, body {
    height: 100%;
}

.fixed-panel {
  min-height: 1080px !important;
  max-height: 1080px !important;
  overflow-y: scroll;
}

.row-border {
	margin-top:5px;
	margin-bottom:5px;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}

.btn-previous {
    color: #ffffff;
    background-color: #808080;
    border-color: #000f1a;
}

.btn-heatmap-0 {
    color: #000000;
    background-color: #ff6666;
    border-color: #000f1a;
}

.btn-heatmap-1 {
    color: #000000;
    background-color: #ffb3b3;
    border-color: #000f1a;
}
.btn-heatmap-2 {
    color: #000000;
    background-color: #ffe6e6 ;
    border-color: #000f1a;
}
.btn-heatmap-3 {
    color: #000000;
    background-color: #e6f2ff;
    border-color: #000f1a;
}
.btn-heatmap-4 {
    color: #000000;
    background-color: #b3d7ff;
    border-color: #000f1a;
}
.btn-heatmap-5 {
    color: #000000;
    background-color:  #80bbff;
    border-color: #000f1a;
}
.btn-heatmap-6 {
    color: #000000;
    background-color: #3392ff;
    border-color: #000f1a;
}
.btn-heatmap-7 {
    color: #000000;
    background-color: #3392ff;
    border-color: #000f1a;
}
.btn-heatmap-8 {
    color: #000000;
    background-color: #3392ff;
    border-color: #000f1a;
}
.btn-heatmap-9 {
    color: #000000;
    background-color: #3392ff;
    border-color: #000f1a;
}
.btn-heatmap-10 {
    color: #ffffff;
    background-color: #004799;
    border-color: #000f1a;
}
.btn-heatmap-11 {
    color: #ffffff;
    background-color: #004799;
    border-color: #000f1a;
}
.btn-heatmap-12 {
    color: #ffffff;
    background-color: #004799;
    border-color: #000f1a;
}
.btn-heatmap-13 {
    color: #ffffff;
    background-color: #004799;
    border-color: #000f1a;
}
.btn-heatmap-14 {
    color: #ffffff;
    background-color:  #004799;
    border-color: #000f1a;
}
.btn-heatmap-15 {
    color: #ffffff;
    background-color: #00244d;
    border-color: #000f1a;
}
.btn-heatmap-16 {
    color: #ffffff;
    background-color: #00244d;
    border-color: #000f1a;
}
.btn-heatmap-17 {
    color: #ffffff;
    background-color: #00244d;
    border-color: #000f1a;
}
.btn-heatmap-18 {
    color: #ffffff;
    background-color: #00244d;
    border-color: #000f1a;
}
.btn-heatmap-19 {
    color: #ffffff;
    background-color: #00244d;
    border-color: #000f1a;
}
.btn-heatmap-20 {
    color: #ffffff;
    background-color: #00244d;
    border-color: #000f1a;
}
