.fill { 
    min-height: 100%;
    height: 100%;
}

html, body {
    height: 100%;
}

.fixed-panel {
  min-height: 640px !important;
  max-height: 640px !important;
  overflow-y: scroll;
}

.row-border {
	margin-top:5px;
	margin-bottom:5px;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}